*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style-type:none;
}
.container{
    width:90%;
    max-width: 1300px; 
    margin:auto;
}
html{
    font-family: 'Open Sans', sans-serif;
}
