*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style-type:none;
}
.container{
    width:90%;
    max-width: 1300px; 
    margin:auto;
}
body{
    background: #FCFAFF;
    box-shadow: -20px 20px 0px rgba(82, 79, 61, 0.1);
    border-radius: 20px;
}
html{
    font-family: 'Open Sans', sans-serif;
}
